In [2]:
import pandas as pd

In [3]:
purchase_data = ("purchase_data.csv")
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#total number of unique players
unique_players = purchase_data_df['SN'].nunique()
total_players = pd.DataFrame({"Total Players": [unique_players]})
total_players

   Total Players
0            576

In [6]:
#Purchasing Analysis (Total)
#Number of Unique Items
items = purchase_data_df['Item Name'].nunique()
items = pd.DataFrame({"Item": [items]})
items

   Item
0   179

In [15]:
#Average Purchase Price
mean_price = purchase_data_df['Price'].mean()
mean_price = pd.DataFrame({"Mean Item Price": [mean_price]})
mean_price

   Mean Item Price
0         3.050987

In [22]:
#Total Number of Purchases
total_purchases = purchase_data_df['Item Name'].count()
total_purchases = pd.DataFrame({"Total Purchases": [total_purchases]})
total_purchases

   Total Purchases
0              780

In [23]:
#Total Revenue
total_revenue = purchase_data_df['Price'].sum()
total_revenue = pd.DataFrame({"Total Revenue": [total_revenue]})
total_revenue

   Total Revenue
0        2379.77

In [37]:
#Gender Demographics
#Percentage and Count of Male Players
male_count = (purchase_data_df.Gender == 'Male').sum()
male_percent = (male_count / purchase_data_df['SN'].count())

In [38]:
#Percentage and Count of Female Players
female_count = (purchase_data_df.Gender == 'Female').sum()
female_percent = (female_count / purchase_data_df['SN'].count())

In [40]:
#Percentage and Count of Other / Non-Disclosed
other_count = (purchase_data_df.Gender == 'Other / Non-Disclosed').sum()
other_percent = (other_count / purchase_data_df['SN'].count())
gender_dic = {"Total Count": [male_count, female_count, other_count],
             "Percentage of Players": [male_percent, female_percent, other_percent]}
columns = ["Total Count", "Percentage of Players"]
index = ['Male', 'Female', 'Other/Non-Disclosed']

gender_demographics = pd.DataFrame(gender_dic, columns=columns, index=index)
gender_demographics

                     Total Count  Percentage of Players
Male                         652               0.835897
Female                       113               0.144872
Other/Non-Disclosed           15               0.019231

In [ ]:
#Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
#Purchase Count
#purchase_data_df['bin'] = pd.cut(purchase_data_df['Age'], [0, 10, 15, 19, 23, 27, 31, 35, 39,  43, 45], \
                                #labels=['<10', '10-14','15-18','19-23','24-27', '28-31', '32-35', '36-39', '40-43', '44+'])

In [ ]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#SN, Purchase Count, Average Purchase Price, Total Purchase Value
#top_spenders = purchase_data_df.groupby(['SN', 'Price'])

In [ ]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value
top_item = purchase_data_df["Item Name"].value_counts()
top_item.head()
#top_item_table = pd.DataFrame({"Item ID": '})
 #                              "Item Name": Item Name, "Purchase Count": Price, "Item Price": Price, 
   #                           "Total Purchase Value": Price})
top_item.head(5)

In [ ]:
#Most Profitable Items
#Identify the 5 most profitable items by total purchase value, then list (in a table):
#Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value